body {
	margin: 0;
	padding: 0;
	color: #ddd;
	background: #333 url("resources/images/background.jpg") repeat fixed;
	font: 12px "DejaVu Sans", Arial, Tahoma, sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: #fff;
	text-decoration: none;
}

hr {
	margin: 10px 0;
	height: 1px;
	background: rgba(200, 200, 200, 0.5);
	border: 0;
}

input,
textarea,
select {
	padding: 4px;
	color: #ddd;
	background: #222;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="submit"] {
	padding: 2px 16px;
	background: transparent linear-gradient(#444 0, #222 10px);
}

input[type="submit"]:hover {
	background: #666 linear-gradient(#666 0, #444 6px);
}

.clear {
	clear: both;
}

#wrapper {
	width: 100%;
}

/* --- --- --- Header part --- --- --- */

#header {
	background: rgba(0, 0, 0, 0.33);
	box-shadow: 0 0 2px 0 #aaa;
}

#header-wrapper {
	margin: 0 auto;
	width: 900px;
	height: 160px;
}

#header-logo {
	opacity: 0.5;
	position: absolute;
	margin: 20px 0 0 200px;
	width: 500px;
	height: 84px;
	background: url("resources/images/logo.png");
}

#header-menu {
	position: absolute;
	margin: 120px 0 0;
	width: 900px;
}

#header-menu ul {
	margin: 0 auto;
	padding: 0;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
}

#header-menu li {
	display: inline;
	margin: 0 16px;
}

#header-menu a:link,
#header-menu a:visited {
	color: #ddd;
}

#header-menu a:hover,
#header-menu a:active {
	color: #fff;
}

#header-menu a.here {
	color: #fff;
	text-shadow: 0 0 3px #fff;
}

/* --- --- --- Content part --- --- --- */

#content {

}

#content-wrapper {
	margin: 0 auto;
	width: 900px;
}

#content-main {
	margin: 10px;
	width: 580px;
}

#content-main h1 {
	margin: 0;
	padding: 0;
	background: transparent linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
	font-size: 1.6em;
	font-weight: normal;
	text-align: center;
}

#content-main h2 {
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
}

#content-main-feed .item {
	margin: 6px;
	padding: 5px;
	border-radius: 4px;
	background-image: linear-gradient(rgb(96, 96, 96) 0, rgba(96, 96, 96, 0.5) 6px);
	box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.25);
	/*
	display: flex;
	align-items: center;
	*/
}

#content-main-feed .item > .timestamp {
	color: #bbb;
	font-size: 10px;
	font-style: italic;
	float: right;
}

#content-main-feed .item > .avatar {
	border-radius: 2px;
	box-shadow: 0 0 1px 0 #fff;
}

#content-main-feed .item > .username {
	color: #fff;
	font-weight: bold;
}

#content-main-feed .item > .achievement-name::before {
	content: "«";
}
#content-main-feed .item > .achievement-name {
	color: #fff;
	font-style: italic;
}
#content-main-feed .item > .achievement-name::after {
	content: "»";
}

#content-sidebar {
	float: right;
	width: 300px;
}

.sideblock {
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.33);
	padding: 5px;
}

.sideblock > .title {
	padding: 4px 0;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
}

.sideblock-new > a {
	display: block;
	padding: 10px 0;
	margin: 4px;
	border-radius: 4px;
	background: #040 linear-gradient(#080, #040 100%);
	border: 1px solid #040;
	box-shadow: 0 0 4px 4px #020;
	font-size: 1.2em;
	text-align: center;
	text-shadow: 0 1px 0 #050, 0 1px 2px rgba(0, 0, 0, 0.5);
}

.sideblock-new > a:hover,
.sideblock-new > a:active {
	background: #070 linear-gradient(#0b0, #070 10px);
	border: 1px solid #070;
	box-shadow: 0 0 2px 2px #050;
}

.sideblock-login {
	padding: 14px;
}

.sideblock-profile > .avatar {
	float: left;
	margin: 10px;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 2px 0 #ddd;
	border-radius: 2px;
}

.sideblock-profile > .avatar > .level {
	position: absolute;
	margin-top: 78px;
	margin-left: 78px;
	width: 26px;
	height: 26px;
	padding: 4px;
	box-sizing: padding-box;
	color: #99ee99;
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 0 0 2px #33cc33;
	text-align: center;
	background: rgba(0, 0, 0, 0.75) linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0));
	border-radius: 13px;
	box-shadow: 0 0 2px 0 #33cc33;
}

.sideblock-profile > .menu {
	margin: 14px 0 0 0;
	list-style-type: none;
}

.sideblock-profile > .menu > li {
	margin: 6px 0;
}

.sideblock-profile > .last {
	padding: 8px;
}

.sideblock-profile > .last > .achievement {
	background: transparent linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	margin: 4px;
	padding: 4px;
	border-radius: 2px;
	border: 1px solid #111;
	box-shadow: 0 1px 2px 0 #000;
}

.sideblock-profile > .last > .achievement > .icon {
	--box-shadow-color: #fff;
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	border-radius: 2px;
	border: 1px solid var(--box-shadow-color);
	box-shadow: 0 0 2px 0 var(--box-shadow-color);
}

.sideblock-profile > .last > .achievement > .title {
	color: #ddd;
	font-size: 0.9em;
	margin-top: 10px;
	text-shadow: 0 1px 1px #000;
}

.sideblock-profile > .last > .achievement > .date {
	float: right;
	color: #bbb;
	font-size: 10px;
	font-style: italic;
}

/* --- --- --- Footer part --- --- --- */

#footer {
	background: rgba(0, 0, 0, 0.5) linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 36px);
	box-shadow: 0 0 2px 0 #000;
	padding: 20px;
	clear: both;
	font-size: 0.9em;
}

#footer-wrapper {
	margin: 0 auto;
	width: 900px;
}

#footer .logo {
	display: block;
	margin: 0 auto;
	width: 110px;
	height: 25px;
	background-image: url("resources/images/logo_00744_white.png");
	opacity: 0.67;
}

#footer p {
	margin: 8px 0 0 0;
	text-align: center;
}

#footer-menu ul {
	margin: 12px auto 0;
	text-align: center;
	padding: 0;
}

#footer-menu li {
	display: inline-block;
	margin: 0 10px;
	font-variant: small-caps;
}

/* --- --- --- Notification part --- --- --- */

.popup-achievement {
	position: fixed;
	z-index: 9999999;
	right: 10px;
	bottom: 10px;
	width: 300px;
	height: 96px;
	box-sizing: border-box;
	font-size: 11px;
	border-radius: 4px;
	border: 1px solid #000;
	background: #333 linear-gradient(#333, #111);
	box-shadow: 0 2px 8px 0 #000;
}

.popup-achievement > .icon {
	--box-shadow-color: #fff;
	position: absolute;
	width: 64px;
	height: 64px;
	margin-left: 15px;
	margin-top: 14px;
	border: 1px solid var(--box-shadow-color);
	box-shadow: 0 0 4px 0 var(--box-shadow-color);
}

.popup-achievement > .title {
	color: #fff;
	position: absolute;
	margin-left: 94px;
	margin-top: 18px;
}

.popup-achievement > .text {
	color: #bbb;
	position: absolute;
	margin-left: 94px;
	margin-top: 38px;
}

.popup-achievement > .comment {
	color: #aaa;
	font-size: 0.9em;
	font-style: italic;
	position: absolute;
	margin-left: 94px;
	margin-top: 60px;
}
