body {
	color: #ddd;
	background: #333;
	font-family: "DejaVu Sans", Arial, Tahoma, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #fff;
}

.clear {
	clear: both;
}

#wrapper {
	width: 100%;
}

#header_wrapper, #content_wrapper, #footer_wrapper {
	width: 900px;
	margin: 0 auto;
}

/* --- --- --- Header part --- --- --- */

#header {
	background: #222;
	border-bottom: 2px #aaa solid;
}

#header_wrapper {
	height: 160px;
}

#header_logo {
	position: absolute;
	margin-left: 200px;
	margin-top: 20px;
	width: 500px;
	height: 84px;
	background: url("resources/images/logo.png");
}

#header_menu {
	position: absolute;
	margin-top: 120px;
	width: 900px;
}

#header_menu ul {
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
}

#header_menu li {
	display: inline-block;
	margin: 0 16px;
}

#header_menu a:link, #header_menu a:visited {
	color: #ddd;
}

#header_menu a:hover, #header_menu a:active {
	color: #fff;
}

#header_menu a.here {
	color: #fff;
	text-shadow: 0 0 3px #fff;
}

/* --- --- --- Content part --- --- --- */

#content {
	background: #333;
}

#content_main {
	margin: 10px;
	width: 580px;
}

#content_main h1.title {
	background: rgba(255, 255, 255, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
	text-align: center;
	font-size: 1.6em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#feed h2 {
	font-size: 1.2em;
	font-weight: normal;
}

#feed .item {
	margin: 6px;
	padding: 5px;
	border-radius: 4px;
	background: #444 linear-gradient(#555 0, #444 6px);
	box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.25);
	/*
	display: flex;
	align-items: center;
	*/
}

#feed .item > .avatar {
	border-radius: 2px;
	box-shadow: 0 0 1px 0 #fff;
}

#feed .item > .username {
	color: #fff;
	font-weight: bold;
}

#feed .item > .achievement_name::before {
	content: "«";
}
#feed .item > .achievement_name {
	color: #fff;
	font-style: italic;
}
#feed .item > .achievement_name::after {
	content: "»";
}

#content_sidebar {
	float: right;
	width: 300px;
}

.sideblock {
	margin-bottom: 6px;
	background: #222;
	padding: 5px;
}

.sideblock-new > a {
	display: block;
	padding: 10px 0;
	margin: 4px;
	border-radius: 4px;
	background: #040 linear-gradient(#080, #040 100%);
	border: 1px solid #040;
	box-shadow: 0 0 4px 4px #020;
	font-size: 1.2em;
	text-align: center;
	text-shadow: 0 1px 0 #050, 0 1px 2px rgba(0, 0, 0, 0.5);
}

.sideblock-new > a:hover, .sideblock-new > a:active {
	background: #070 linear-gradient(#0b0, #070 10px);
	border: 1px solid #070;
	box-shadow: 0 0 2px 2px #050;
}

.sideblock-profile > .title {
	padding: 4px 0;
	text-align: center;
}

.sideblock-profile > .avatar {
	float: left;
	margin: 10px;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 2px 0 #ddd;
	border-radius: 2px;
}

.sideblock-profile > ul.menu {
	margin: 14px 0 0 0;
	list-style-type: none;
}

.sideblock-profile > ul.menu > li {
	margin: 6px 0;
}

/* --- --- --- Footer part --- --- --- */

#footer {
	background: #1a1a1a linear-gradient(to bottom, #2a2a2a 0%, #1a1a1a 36px);
	border-top: 1px solid #000;
	padding: 20px;
	clear: both;
}

/* --- --- --- Notification part --- --- --- */

.notification {
	position: fixed;
	z-index: 9999999;
	right: 10px;
	bottom: 10px;
	width: 300px;
	height: 96px;
	border: 1px solid #000;
	box-sizing: border-box;
	border-radius: 4px;
	background: #333 linear-gradient(#333, #111);
	box-shadow: 0 2px 8px 0 #000;
}

.notification > .icon {
	--box-shadow-color: #fff;
	position: absolute;
	width: 64px;
	height: 64px;
	margin-left: 15px;
	margin-top: 14px;
	border: 1px solid var(--box-shadow-color);
	box-shadow: 0 0 4px 0 var(--box-shadow-color);
}

.notification > .title {
	color: #fff;
	position: absolute;
	margin-left: 94px;
	margin-top: 22px;
}

.notification > .text {
	color: #bbb;
	font-size: 11px;
	position: absolute;
	margin-left: 94px;
	margin-top: 43px;
}

.notification > .comment {
	color: #aaa;
	font-size: 10px;
	font-style: italic;
	position: absolute;
	margin-left: 94px;
	margin-top: 64px;
}