body {
	color: #ddd;
	background: #333;
	font-family: "DejaVu Sans", Arial, Tahoma, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #fff;
}

#wrapper {
	width: 100%;
}

#header_wrapper, #content_wrapper, #footer_wrapper {
	width: 900px;
	margin: 0 auto;
}

/* --- --- --- Header part --- --- --- */

#header {
	background: #222;
	border-bottom: 2px #aaa solid;
}

#header_wrapper {
	height: 200px;
}

#header_logo {
	position: absolute;
	margin-left: 200px;
	margin-top: 20px;
	width: 500px;
	height: 84px;
	background: url("resources/images/logo.png");
}

#header_menu {
	position: absolute;
	margin-top: 135px;
	width: 900px;
}

#header_menu ul {
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
}

#header_menu li {
	display: inline-block;
	margin: 0 16px;
}

#header_menu a:link, #header_menu a:visited {
	color: #ddd;
}

#header_menu a:hover, #header_menu a:active {
	color: #fff;
}

#header_menu a.here {
	text-shadow: 0 0 5px #fff;
}

/* --- --- --- Content part --- --- --- */

#content {
	background: #333;
}

#content h1, #content h2, #content h3 {
	margin: 0;
	padding: 0;
}

#content_main {
	margin: 10px;
	width: 580px;
}

#content_main .block {
	margin: 6px;
	background: #444;
	padding: 5px;
	border-radius: 4px;
}

#content_sidebar {
	float: right;
	width: 300px;
}

#content_sidebar .block {
	margin: 6px;
	background: #222;
	padding: 5px;
	border-radius: 4px;
}

#content a.new_button {
	display: block;
	padding: 10px 0;
	margin: 4px;
	border-radius: 4px;
	background: #040 linear-gradient(#080, #040 100%);
	border: 1px solid #040;
	box-shadow: 0 0 4px 4px #020;
	font-size: 1.2em;
	text-align: center;
	text-shadow: 0 1px 0 #050, 0 1px 2px rgba(0, 0, 0, 0.5);
}

#content a:hover.new_button, #content a:active.new_button {
	background: #070 linear-gradient(#0b0, #070 10px);
	border: 1px solid #070;
	box-shadow: 0 0 2px 2px #050;
}

/* --- --- --- Footer part --- --- --- */

#footer {
	background: #1a1a1a linear-gradient(to bottom, #2a2a2a 0%, #1a1a1a 36px);
	border-top: 1px solid #000;
	padding: 20px;
	clear: both;
}

/* --- --- --- Notification part --- --- --- */

.notification {
	position: fixed;
	z-index: 9999999;
	right: 10px;
	bottom: 10px;
	width: 300px;
	height: 96px;
	border-radius: 4px;
	border: 1px solid #000;
	background: #333 linear-gradient(#333, #111);
	box-shadow: 0 2px 8px 0 #000;
}

.notification > .icon {
	--box-shadow-color: #fff;
	position: absolute;
	width: 64px;
	height: 64px;
	margin-left: 16px;
	margin-top: 16px;
	box-shadow: 0 0 4px 0 var(--box-shadow-color);
}

.notification > .title {
	color: #fff;
	position: absolute;
	margin-left: 94px;
	margin-top: 22px;
}

.notification > .text {
	color: #bbb;
	font-size: 11px;
	position: absolute;
	margin-left: 94px;
	margin-top: 43px;
}

.notification > .comment {
	color: #aaa;
	font-size: 10px;
	font-style: italic;
	position: absolute;
	margin-left: 94px;
	margin-top: 64px;
}