@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font: 12px "DejaVu Sans", Arial, Tahoma, sans-serif;
	color: #ddd;
	background: #333;
}

a {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 1px #000;
}

hr {
	margin: 10px 0;
	height: 1px;
	background: rgba(200, 200, 200, 0.5);
	border: 0;
}

input,
textarea,
select {
	margin: 4px 0;
	padding: 4px;
	font: 12px "DejaVu Sans", Arial, Tahoma, sans-serif;
	color: #ddd;
	background: #222;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition-property: box-shadow, background-color;
	transition-duration: 0.25s;
}

input:focus,
textarea:focus,
select:focus {
	box-shadow: 0 0 3px 0 #ccc;
}

input:invalid,
textarea:invalid,
select:invalid {
	border-color: #d00;
}

input:disabled,
textarea:disabled,
select:disabled {
	opacity: .33;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkRDN0Y0NjNGNDc0QzExRTVCQzFCRDE3NDA3Mjk0REI1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkRDN0Y0NjQwNDc0QzExRTVCQzFCRDE3NDA3Mjk0REI1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6REM3RjQ2M0Q0NzRDMTFFNUJDMUJEMTc0MDcyOTREQjUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6REM3RjQ2M0U0NzRDMTFFNUJDMUJEMTc0MDcyOTREQjUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz77mPLKAAAAIElEQVR42mL4//9/CBAzwDCMEYIuABdkBIsiQAhAgAEAXh4oK0EIzPoAAAAASUVORK5CYII=');
}

input[type="submit"] {
	padding: 3px 16px;
	background-color: #333;
	background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, 0) 10px);
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background-color: #444;
}

input[type="submit"]:active {
	background-color: #222;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.unfocused {
	-webkit-filter: blur(4px) grayscale(100%) opacity(50%);
	filter: blur(4px) grayscale(100%) opacity(50%);
	transition-duration: .3s;
	transition-property: filter -webkit-filter;
}

#wrapper {
	background: #333 url("resources/images/background.jpg") repeat fixed;
	width: 100%;
}

/* --- --- --- Header part --- --- --- */

#header {
	background: rgba(0, 0, 0, 0.33);
	box-shadow: 0 0 2px 0 #aaa;
}

#header-wrapper {
	margin: 0 auto;
	width: 900px;
	height: 160px;
}

#header-logo {
	opacity: 0.5;
	position: absolute;
	margin: 20px 0 0 200px;
	width: 500px;
	height: 84px;
	background: url("resources/images/logo.png");
}

#header-menu {
	position: absolute;
	margin: 120px 0 0;
	width: 900px;
}

#header-menu ul {
	margin: 0 auto;
	padding: 0;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
}

#header-menu li {
	display: inline;
	margin: 0 16px;
}

#header-menu a:link,
#header-menu a:visited {
	color: #ddd;
}

#header-menu a:hover,
#header-menu a:focus {
	color: #fff;
}

#header-menu a.here {
	color: #fff;
	text-shadow: 0 0 3px #fff;
}

/* --- --- --- Content part --- --- --- */

#content {

}

#content-wrapper {
	margin: 0 auto;
	width: 900px;
}

#content-main.content-main-sidebar {
	margin: 10px;
	width: 630px;
}

#content-main.content-main-wide {
	margin: 10px;
	width: 880px;
}

.info-box {
	padding: 6px;
	font-size: 0.9em;
	text-align: justify;
	border-radius: 4px;
}

.info-error-box {
	color: #f00;
	text-shadow: 0 2px 2px #500;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjI1M0JBMjc3NDdGNDExRTU5NEJEQkUwNDExMkE2NTA2IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjI1M0JBMjc4NDdGNDExRTU5NEJEQkUwNDExMkE2NTA2Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjUzQkEyNzU0N0Y0MTFFNTk0QkRCRTA0MTEyQTY1MDYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjUzQkEyNzY0N0Y0MTFFNTk0QkRCRTA0MTEyQTY1MDYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4l3RGcAAAAHklEQVR42mL6z8AQAsQM//8DSTADKsAIIqAgBCDAAPtQCfdfv9AKAAAAAElFTkSuQmCC');
	box-shadow: inset 0 0 4px 0 #f00;
}

.info-success-box {
	color: #7f7;
	text-shadow: 0 2px 2px #050;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTk4OURFMTY0QkVCMTFFNTgzOUJFMzc1QkQ3NDIwRDkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTk4OURFMTU0QkVCMTFFNTgzOUJFMzc1QkQ3NDIwRDkiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjUzQkEyNzc0N0Y0MTFFNTk0QkRCRTA0MTEyQTY1MDYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjUzQkEyNzg0N0Y0MTFFNTk0QkRCRTA0MTEyQTY1MDYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4Kic5IAAAAIUlEQVR42mJi+M8Q8v//fwYQhhIQAUYwBwgYGRhDAAIMAJzDEfEqGlFwAAAAAElFTkSuQmCC');
	box-shadow: inset 0 0 4px 0 #0f0;
}

.info-notify-box {
	color: #0bf;
	text-shadow: 0 2px 2px #035;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QjRFNzFGM0Y0QkVCMTFFNUEwNzJFNDI0QkVCMjZGQ0EiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QjRFNzFGM0U0QkVCMTFFNUEwNzJFNDI0QkVCMjZGQ0EiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjUzQkEyNzc0N0Y0MTFFNTk0QkRCRTA0MTEyQTY1MDYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjUzQkEyNzg0N0Y0MTFFNTk0QkRCRTA0MTEyQTY1MDYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6Cw1qWAAAAIUlEQVR42mJimPk/5P///wwgDCGgAoxgDhAwzmIIAQgwAL6iE7xQ98G4AAAAAElFTkSuQmCC');
	box-shadow: inset 0 0 4px 0 #09f;
}

.info-white-box {
	color: #fff;
	text-shadow: 0 2px 2px #000;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Q0RGMTM5MjU0QkVDMTFFNTg5N0FBNEZDOEQxMkNFNDgiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Q0RGMTM5MjQ0QkVDMTFFNTg5N0FBNEZDOEQxMkNFNDgiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjUzQkEyNzc0N0Y0MTFFNTk0QkRCRTA0MTEyQTY1MDYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjUzQkEyNzg0N0Y0MTFFNTk0QkRCRTA0MTEyQTY1MDYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7tLYNTAAAAHklEQVR42mL6//9/CBAzgDADlAEWYASLQEAIQIABAA5aFeuKprXEAAAAAElFTkSuQmCC');
	box-shadow: inset 0 0 4px 0 #fff;
}

h1, h2, h3 {
	margin: 10px 0;
	padding: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
	text-align: center;
	background: transparent linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	background: transparent linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
}

.section {
	margin: 10px 0;
}

.event {
	margin: 6px 0;
	padding: 5px;
	border-radius: 4px;
	background-image: linear-gradient(rgb(96, 96, 96) 0, rgba(96, 96, 96, 0.5) 6px);
	box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.25);
	/*
	display: flex;
	align-items: center;
	*/
}

.note {
	color: #bbb;
	font-size: 10px;
	font-style: italic;
	float: right;
}

.user-avatar {
	border-radius: 2px;
	box-shadow: 0 0 1px 0 #fff;
}

.user-name {
	color: #fff;
	font-weight: bold;
}

.achievement-name::before {
	content: "«";
}

.achievement-name {
	color: #fff;
	font-style: italic;
	/* quotes: "«" "»"; */
}

.achievement-name::after {
	content: "»";
}

#add-friend {
	text-align: center;
}

.userline {
	margin: 4px 0;
	padding: 10px;
	height: 100px;
	border-radius: 4px;
	background: transparent linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05) 25px);
}

.avatar {
	float: left;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 2px 0 #ddd;
	border-radius: 2px;
}

.avatar > .level {
	position: absolute;
	margin-top: 78px;
	margin-left: 78px;
	width: 26px;
	height: 26px;
	padding: 4px;
	box-sizing: padding-box;
	color: #99ee99;
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 0 0 2px #33cc33;
	text-align: center;
	background: rgba(0, 0, 0, 0.75) linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0));
	border-radius: 13px;
	box-shadow: 0 0 2px 0 #33cc33;
}

.userline > .info {
	margin-left: 106px;
}

.userline > .info a {
	font-weight: bold;
}

.userline > .info > div {
	margin: 4px;
}

.userline > .actions {
	opacity: 0;
	float: right;
	font-size: 0.9em;
	transition-duration: 0.3s;
	transition-property: opacity;
}

.userline:hover > .actions {
	opacity: 1;
}

.userline > .actions a {
	display: block;
	padding: 2px 12px;
	margin: 2px;
	text-align: center;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.05);
}

.userline > .actions a:hover {
	background: rgba(255, 255, 255, 0.1);
}

.inputform .setting {
	margin: 0 0 6px;
}

.inputform .setting > .setting-label {
	float: left;
	padding: 8px 0 0;
	width: 200px;
}

.inputform .setting > .setting-control {
	margin-left: 220px;
}

.inputform .setting > .setting-control input,
.inputform .setting > .setting-control select {
	width: 300px;
}

.inputform .setting > .setting-control input[type="checkbox"],
.inputform .setting > .setting-control input[type="radio"] {
	width: auto;
}

.inputform .setting > .setting-control > label {
	display: block;
}

.inputform .actions {
	text-align: center;
}

.profile .avatar {

}

.profile-info {
	margin: 0 0 0 110px;
	min-height: 100px;
}

.profile-stats {

}

.achievement-full {
	margin: 8px 4px;
	padding: 8px;
	box-sizing: padding-box;
	min-height: 80px;
	border-radius: 4px;
	border: 1px solid #000;
	background: transparent linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

.achievement-full > .icon {
	float: left;
	width: 64px;
	height: 64px;
	border: 1px solid #000;
}

.achievement-full > .info {
	margin: 0 72px;
}

.achievement-full > .info > .name {
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
}

.achievement-full > .info > .description {
	text-align: center;
}

.achievement-full > .info > .meta {
	margin: 6px 0 0 0;
	font-size: 0.9em;
	font-style: italic;
}

.center-buttons {
	margin: 8px 0;
	padding: 4px;
	text-align: center;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.center-button {
	margin: 0 6px;
	padding: 4px 10px;
	display: inline-block;
	background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.15);
}

/* --- --- --- Sidebar part --- --- --- */

#content-sidebar {
	float: right;
	width: 250px;
}

.sideblock {
	margin-bottom: 10px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.33);
	padding: 5px;
}

.sideblock > .title {
	padding: 4px 0;
	text-align: center;
	font-size: .9em;
	font-weight: bold;
}

.big-button {
	display: block;
	padding: 10px 0;
	margin: 4px;
	border-radius: 4px;
	background: #040 linear-gradient(#080, #040 100%);
	border: 1px solid #040;
	box-shadow: 0 0 4px 4px #020;
	font-size: 1.2em;
	text-align: center;
	text-shadow: 0 1px 0 #050, 0 1px 2px rgba(0, 0, 0, 0.5);
}

.big-button:hover,
.big-button:focus {
	background: #070 linear-gradient(#0b0, #070 100%);
	border: 1px solid #070;
	box-shadow: 0 0 2px 2px #050;
}

.sideblock-login {
	text-align: center;
	padding: 14px;
}

#login-form > input {
	width: 180px;
}

.sideblock-profile > .avatar {
	margin: 10px;
}

.sideblock-profile > .menu {
	margin: 14px 0 0 0;
	list-style-type: none;
}

.sideblock-profile > .menu > li {
	margin: 6px 0;
}

.sideblock-profile > .last {
	padding: 8px;
}

.sideblock-profile > .last > .achievement {
	background: transparent linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	margin: 4px;
	padding: 4px;
	border-radius: 2px;
	border: 1px solid #000;
}

.sideblock-profile > .last > .achievement > .icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	border-radius: 2px;
	border: 1px solid #000;
}

.sideblock-profile > .last > .achievement > .title {
	color: #ddd;
	font-size: .9em;
	margin-top: 10px;
}

.sideblock-profile > .last > .achievement > .date {
	float: right;
	color: #bbb;
	font-size: 10px;
	font-style: italic;
}

/* --- --- --- Footer part --- --- --- */

#footer {
	clear: both;
	background: rgba(0, 0, 0, 0.5) linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 36px);
	box-shadow: 0 0 2px 0 #000;
	padding: 20px;
	font-size: .9em;
}

#footer-wrapper {
	margin: 0 auto;
	width: 900px;
}

#footer .logo {
	display: block;
	margin: 0 auto;
	width: 110px;
	height: 25px;
	background-image: url("resources/images/logo_00744_white.png");
	opacity: 0.67;
}

#footer p {
	margin: 8px 0 0 0;
	text-align: center;
}

#footer-menu ul {
	margin: 12px auto 0;
	text-align: center;
	padding: 0;
}

#footer-menu li {
	display: inline-block;
	margin: 0 10px;
	font-variant: small-caps;
}

/* --- --- --- Notification part --- --- --- */

.popup-achievement {
	position: fixed;
	z-index: 9999999;
	right: 10px;
	bottom: 10px;
	width: 300px;
	height: 96px;
	box-sizing: border-box;
	font-size: 11px;
	border-radius: 4px;
	border: 1px solid #000;
	background: #333 linear-gradient(#333, #111);
	box-shadow: 0 2px 8px 0 #000;
}

.popup-achievement > .icon {
	position: absolute;
	width: 64px;
	height: 64px;
	margin-left: 15px;
	margin-top: 14px;
	border: 1px solid #000;
}

.popup-achievement > .title {
	color: #fff;
	position: absolute;
	margin-left: 94px;
	margin-top: 18px;
}

.popup-achievement > .text {
	color: #bbb;
	position: absolute;
	margin-left: 94px;
	margin-top: 38px;
}

.popup-achievement > .comment {
	color: #aaa;
	font-size: .9em;
	font-style: italic;
	position: absolute;
	margin-left: 94px;
	margin-top: 60px;
}
